/* Colors */
.grey {
    color: #93a1a1;
}

.red {
    color: #bc1916;
}

.yellow {
    color: #b58900;
}

.violet {
    color: #6c71c4;
}

.green {
    color: #17c900;
}

.blue {
    color: #268bd2;
}

.magenta {
    color: #d33682;
}

.cyan {
    color: #2aa198;
}

.orange {
    color: #cb4b16;
}